# Điện thoại thật và Expo Go dùng IP LAN của máy phát triển:
EXPO_PUBLIC_API_BASE_URL=http://192.168.1.195:8000

# Android emulator dùng http://10.0.2.2:8000
# Điện thoại thật dùng IP LAN, ví dụ http://192.168.1.10:8000
